NODE_ENV=development

# PostgreSQL
POSTGRES_PORT=5433
DATABASE_URL=postgresql://ecommerce:ecommerce_password@localhost:5433/ecommerce?schema=public
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=ecommerce_password
POSTGRES_DB=ecommerce

# Redis
REDIS_PORT=6380
REDIS_URL=redis://localhost:6380

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_ENDPOINT=http://localhost:9000
MINIO_BUCKET=ecommerce-assets

# Applications
STOREFRONT_URL=http://localhost:3000
ADMIN_URL=http://localhost:3001
API_URL=http://localhost:4000
API_PORT=4000
